    <style>
        /* Reset default margin and padding */
        body, h1, h2 {
            margin: 0;
            padding: 0;
        }

        /* Set a background color and text color */
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
            color: #333;
        }

        /* Center the content in the middle of the page */
        div.container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            height: 100vh; /* Center content vertically */
        }

        /* Style the headings */
        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 24px;
        }

        /* Add spacing between elements */
        .group {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .box {
            margin: 10px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd; /* Light border */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle depth effect */
        }

        /* Make it responsive for smaller screens */
        @media (max-width: 768px) {
            .box{
                width: 150px;
            }
        
            h1 {
                font-size: 24px;
            }
            h2 {
                font-size: 20px;
            }
            .group{
                flex-wrap: wrap;
                flex-direction: column;
                width: 80%;
            }
            .container{
                width: 200px;
                overflow: hidden;
            }
        }
    </style>

    <div class="container">
        <h1>Dashboard</h1>
        
        <div class="group">
            <div class="box">
                <h2>Missing</h2>
                <h1><%= totalMissingEntries %></h1>
            </div>
            <div class="box">
                <h2>Tracked</h2>
                <h1><%= totalInformedEntries %></h1>
            </div>
            <div class="box">
                <h2>Found</h2>
                <h1>0</h1>
            </div>
        </div>
        <div class="box">
            <h2 style="color: rgb(81, 201, 81);">Help from the app</h2>
            <% const informedPercent = totalInformedEntries / totalMissingEntries * 100 %>
            <h1 style="color: rgb(81, 201, 81);"><%= informedPercent.toFixed(1) %>%</h1>
        </div>
    </div>
