<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <div>
        <a href="/">home</a>
        <form id="filter-form" action="/searchByText" method="post">
            <input type="text" name="name" id="" placeholder="Name">
            <input type="number" name="age" id="" placeholder="Age">
            <input type="text" name="area" id="" placeholder="Area">
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="result">

    </div>
</body>
</html>