<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify Yourself</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/6c7c0a9da6.js" crossorigin="anonymous"></script>

</head>
<body>
    <div>
        <button id="back-button" onclick="window.history.back()" type="button" class="pl-4 pr-4 text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-green-500 dark:hover:bg-green-700 dark:focus:ring-green-800">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
    </div>
    <div>
        <h2><%=status%></h2>
    </div>
    <div>
        <form action="/sendOtp" class="form" method="post" id="info-form">
            <input type="hidden" name="missingId" id="" value="<%= missingId %>">
            <input type="text" name="name" id="name" placeholder="Name" required>
            <input type="number" name="phone" id="phone" placeholder="Phone" required>
            <button type="submit" id="send-otp">Get OTP</button>
        </form>
    </div>
    <div>
        <form action="/verifyOtp" method="post">
            <input type="hidden" name="missingId" id="" value="<%= missingId %>">
            <input type="hidden" name="name" id="name2">
            <input type="hidden" name="phone" id="phone2">
            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">
            <input type="hidden" name="otp" id="otp-input" placeholder="Enter OTP">
            <input type="hidden" name="submit" value="submit" id="submit-btn">
        </form>
    </div>
</body>
<script>
    const form = document.getElementById("info-form");
    const backButton = document.getElementById("back-button");

    backButton.addEventListener("click",async (e)=>{
        try{
            const response = await fetch("/clearOtpMap");
        }catch(err){
            console.log("error clearing otpMap",err);
        }
    });

    window.addEventListener("beforeunload",async (e)=>{
        try{
            const response = await fetch("/clearOtpMap");
        }catch(err){
            console.log("error clearing otpMap",err);
        }
    })

    window.onload = function() {
            getLocation();
    };

    function getLocation() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                document.getElementById("latitude").value = latitude;
                document.getElementById("longitude").value = longitude;
                document.getElementById("locationDisplay").textContent = "Latitude: " + latitude + ", Longitude: " + longitude;
                
                // Automatically submit the form when the location is obtained
                document.getElementById("locationForm").submit();
            });
        } else {
            alert("Geolocation is not available in your browser");
        }
    }

    form.addEventListener("submit", (e)=>{
        document.getElementById("otp-input").type = "number";
        document.getElementById("submit-btn").type = "submit";
        document.getElementById("phone2").value = document.getElementById("phone").value;
        document.getElementById("name2").value = document.getElementById("name").value;
    });
</script>
</html>